@model Annexio.Models.Region

@{
    ViewBag.Title = "RegionDetails";
}

<h2>Region Details</h2>
<hr />

<ul class="nav nav-tabs">
    <li class="active"><a href="#region" data-toggle="tab" aria-expanded="true">Region</a></li>
    <li class=""><a href="#countries" data-toggle="tab" aria-expanded="false">Countries</a></li>
    <li class=""><a href="#subregions" data-toggle="tab" aria-expanded="false">Subregions</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="region">
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Population)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Population)
            </dd>
        </dl>
    </div>

    <div class="tab-pane fade" id="countries">

        <ul class="nav nav-pills nav-stacked">
            @foreach (var country in Model.Countries)
            {
                <li>
                    @Html.ActionLink(country.Name, "Details", "Countries", new { name = country.Name }, null)
                </li>
            }
        </ul>
    </div>

    <div class="tab-pane fade" id="subregions">
        <ul class="nav nav-pills">
            @foreach (var subregion in Model.Subregion)
            {
                <li>
                    <a href=@Url.Action("SubregionDetails", "Subregions", new { subregionName = subregion }, null)>@subregion</a>
                </li>
            }
        </ul>
    </div>
</div>
